*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
main {
  min-height: 100vh;
  display: grid;
  align-content: center;
  place-items: center;
  gap: 3rem;
}

.word {
  display: flex;
  margin-bottom: 1.5rem;
}

.letter {
  height: 4rem;
  width: 4rem;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 2rem;
}

.letter.true {
  background-color: green;
}
.letter.exists {
  background-color: yellow;
}

.letter.false {
  background-color: grey;
}
